<div class="main">
    <div class="box">
        <img src="http://icons.veryicon.com/png/System/Flatwoken/Apps%20color%20C.png" style="width: 150px;height:120px;margin-top: 2%;"  alt="">
        <h2 style="background-image: linear-gradient(-10deg,white,rgb(116, 116, 17));">𝓠𝓤𝓞𝓣𝓔 𝓜𝓪𝓴𝓮𝓻 & 𝓜𝓞𝓞𝓓 𝓐𝓷𝓪𝓵𝔂𝔃𝓮𝓻</h2>
        <form #userform="ngForm" (ngSubmit)="submit(userform)" class="innerbox">
            <mat-label style="margin-top: 15%;color: white;font-weight: 500;font-size: 2em;margin-left: -28%;">Twitter Username</mat-label>
            <br>
            <input type="text" ngModel name="username" placeholder="Enter Twitter username.. Eg: @questcease-(username : questcease)" matInput class="inp">
            <button mat-raised-button class="btn">Submit</button>
        </form>
    </div>
    
</div>
