<div style="text-align: center;">
   <div>
       <h2 *ngIf="name" style="font-size: 3em;color: wheat;margin-top: 3%;">Welcome <span style="color:brown;font-style: oblique;">{{name}}</span></h2>
   </div>
</div>
<div class="box">

    <img style="width: 60px;height: 60px;margin-top: 7%;margin-left: 5%;" src="https://suzukiassociation.org/images/1280x900/news/Twitter_logo_blue.png" alt="">
    <div style="margin-top: 4%;display: flex;flex-direction: column;">
        <mat-label style="color: rgb(4, 4, 10);font-size: 1.2em;font-weight: bolder;">Select any of your Tweets to make it a <span style="font-style:italic;color: yellow;">QUOTE</span> and Find its <span style="font-style:italic;color: yellow;">MOOD</span></mat-label>
        <mat-select class="inp" placeholder="Find your Tweets here...">
            <mat-option *ngFor="let d of userTweets" [value]="d.text" (click)="select(d.text)">{{d.text}}</mat-option>
        </mat-select>
    </div>
</div>
<div class="next">
    <div class="box2">
        <button *ngIf="text" mat-raised-button class="btn" (click)="quoteMake()">Generate Quote</button>
        <div class="image">
            <h2 *ngIf="!quote" style="margin-left:5%">Your Quote will appear here</h2>
            <img *ngIf="quote" class="pic" src="https://picsum.photos/200/300" alt="">
            <h4 *ngIf="quote" class="txt">{{text}}</h4>
        </div>
    </div>
    <div style="display: flex;flex-direction: column;margin-left: 10%;">
        <h2 style="margin-left:15%;font-size:2em;font-weight: bolder;">Mood of the Tweet is....</h2>
        
        <img *ngIf="mood && mood>0" src="https://freepngimg.com/download/emoji/65057-emoticon-signal-smiley-thumb-emoji-free-frame.png" style="width: 300px;height: 200px;" alt="">
        <img *ngIf="mood==0" src="https://i.pinimg.com/originals/b9/51/b7/b951b73ef3dc1d658f9310bbe88dafa9.png" style="width: 300px;height: 200px;" alt="">
        <img *ngIf="mood && mood<0" src="https://www.freepngimg.com/download/icon/1000525-crying-sad-emoji-icon-file-hd.png" style="width: 300px;height: 200px;" alt="">
        <img *ngIf="nomood" src="https://i.pinimg.com/originals/b9/51/b7/b951b73ef3dc1d658f9310bbe88dafa9.png" style="width: 300px;height: 200px;" alt="">
    </div>
</div>

